---
# Overwrite Tachyons here. Don't go overboard!
---

ul > li {
  margin: .2em;
}




@import 'https://fonts.googleapis.com/css?family=Roboto:400,700';

@import url('https://fonts.googleapis.com/css?family=Sahitya');

.sahitya {
  font-family: 'Sahitya', serif;
}

.barlow {
  font-family: 'Barlow', sans-serif;
}


.roboto {
  font-family: "Roboto";
  letter-spacing: .05em;
}

.cf {
  clear: both;
}

.cf-4th {
  &:nth-child(4n) {
    margin-right: 0;
    clear: both;
  }
}

.p-fix {
  &:nth-child(3n) {
    padding-right: 0;
    margin-right: 0;
  }
}

blockquote {
  background: #F4F4F4;
  border-left: 2px solid #333;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  color: #333333;

}

.footnotes {
  color: #ff80cc;
}


article a {
  color: #E7040F !important;
}

@media only screen and (max-width: 679px) {
    .jrb-web-small{
      width: 100%;
      font-size: 1em;
    }
    .jrb-margin-20{
      margin-left: 20px;
    }
    .jrb-no-bottom{
      border:0;
    }
}
