---
# Overwrite Tachyons here. Don't go overboard!
---
.b2 {background-color:rgb(85,0,235);}
.b1 {background-color:rgb(35,58,184);}
.b3 {background-color:rgb(77,136,136);}
.b4 {background-color: #1E0D8C;}

ul > li {
  margin: .2em;
}

@import url('https://fonts.googleapis.com/css?family=Chivo:300,400,400i,900&display=swap');

.chivo {font-family: 'Chivo', sans-serif;}



.roboto {
  font-family: "Roboto";
  letter-spacing: .05em;
}



blockquote {
  background: #F4F4F4;
  border-left: 2px solid #333;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  color: #333333;

}

.footnotes {
  color: #ff80cc;
}



@media only screen and (max-width: 679px) {
    .jrb-web-small{
      width: 100%;
      font-size: 1em;
    }
    .jrb-margin-20{
      margin-left: 20px;
    }
    .jrb-no-bottom{
      border:0;
    }
}
