<footer class="ml5 ml2-m cf jrb-margin-20">
  <p class="f6 lh-copy">Bâti à partir de <a href="https://joshosbrn.github.io/jekyons/" class="pa1 link ba navy bg-animate hover-bg-near-white jrb-web-small">Jekyons</a> et hébergé grâce à <a href="https://pages.github.com" class="pa1 link ba navy bg-animate hover-bg-near-white jrb-web-small">Github Pages</a> — Pour discuter : <a class="pa1 link ba navy bg-animate hover-bg-near-white jrb-web-small" href="mailto:jrb@jr-b.net">jrb@jr-b.net</a><p>

</footer>
