<!--

  _      _
 (_)    | |
  _ _ __| |__
 | | '__| '_ \
 | | |  | |_) |
 | |_|  |_.__/
_/ |
|__/

Ce site est hébergé sur github pages - https://pages.github.com

Il a été conçu avec jekyons https://github.com/joshosbrn/jekyons

Des questions? jrb@jr-b.net

-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% seo %}

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">


        <title>Jérémi Robitaille-Brassard</title>
        <meta name="description" content="" />

        <meta property="og:title" content="Jérémi Robitaille-Brassard" />
        <meta property="og:description"
        content="Jérémi Robitaille-Brassard" />
        <meta property="og:site_name" content="Jérémi Robitaille-Brassard" />
        <meta property="og:url" content="https://jr-b.net" />
        <meta property="og:image" content="/og.png" />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:alt" content="A doodle" />
        <meta property="og:type" content="profile" />
        <meta property="profile:first_name" content="Jérémi" />
        <meta property="profile:last_name" content="Robitaille-Brassard" />

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon16.png">
        <link rel="mask-icon" href="/favicon.svg">

        <!-- tachyons import -->
        <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>




  <!-- Styles -->
  <link rel="stylesheet" href="https://unpkg.com/tachyons@{{ site.tv }}/css/tachyons.min.css"/>
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">



</head>
