<header class="ml5 ml2-m bl bb navy o-75 grow jrb-margin-20">
  <a href="{{ site.url }}" class="link navy f3 ma2 fw1 bg-animate hover-bg-near-white">{{ site.title }}</a>
  <h2 class="ma2 fw1">
    <a class="f5 navy link ba mr1 pa1 f4 mb2 bg-animate hover-bg-near-white jrb-web-small" href="/curriculum.html">Curriculum vitæ</a>
    <a class="f5 navy link ba mr1 pa1 f4 mb2 bg-animate hover-bg-near-white jrb-web-small" href="/lectures.html">Lectures</a>
    <a class="f5 navy link ba mr1 pa1 f4 mb2 bg-animate hover-bg-near-white jrb-web-small" href="/images/">Photographies</a>
    </h2>
</header>
