<header class="ml5 bl bb navy o-75 grow">
  <a href="{{ site.url }}" class="link navy f3 ma2 fw1 hover-near-white">{{ site.title }}</a>
  <h2 class="ma2 fw1">
    <a class="f5 navy link ba mr1 br2 pa1 f4 mb2 dib hover-near-white" href="/curriculum.html">Curriculum vitæ</a>
    <a class="f5 navy link ba mr1 br2 pa1 f4 mb2 dib hover-near-white" href="/blogue.html">Blogue</a>
    <a class="f5 navy link ba mr1 br2 pa1 f4 mb2 dib hover-near-white" href="/lectures.html">Lectures</a>
    </h2>
</header>
