<header class="tc o-75 jrb-margin-20">

  <a href="{{ site.url }}" class="ptsans fw7 f3 pa1 link ba light-gray bg-animate hover-bg-purple jrb-web-small">jr-b.net</a>

</header>

<div class="tc">
<p class="lh-copy">
  <select name="select-menu" onchange="location = this.value;">
  <option value="">💎</option>
  <option value="/curriculum.html">Curriculum</option>
   <option value="/lectures.html">Lectures</option>
   <option value="/images/">Photographies</option>
   <option value="mailto:jrb@jr-b.net">Contact</option>
  </select></p>

</div>
